__pycache__
.venv

logs/*

.vscode
.env*
config.yaml*
.local-secrets/*

db/
infra/

.github
.git
.gitignore

.dockerignore
Dockerfile
docker-compose.yaml

.flake8
.pre-commit-config.yaml
.python-version
requirements-dev.txt
pyproject.toml
LICENSE

*.md

.MOCBOT

lavalink/
