services:
  bot:
    build: ./
    restart: unless-stopped
    volumes:
      - ./.local-secrets:/secrets
      - ./config.yaml.local:/config/config.yaml
    env_file:
      - ./.env.local
    networks:
      - bot
      - lavalink
      - mocbot-api_api
      - mocbot-archive_archive-api
    ports:
      - "65535:65535"
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4.1.1-alpine
    restart: unless-stopped
    volumes:
      - ./lavalink/application.yaml.local:/opt/Lavalink/application.yaml:ro
    networks:
      - lavalink
      - yt-cipher
  yt-cipher:
    image: ghcr.io/kikkia/yt-cipher:master
    restart: unless-stopped
    networks:
      - yt-cipher
networks:
  bot:
  lavalink:
  mocbot-api_api:
    external: true
  mocbot-archive_archive-api:
    external: true
  yt-cipher:
